.input-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.input-file-label:hover {
  background-color: #0056b3;
}
.red-text {
  color: red;
  text-align: center;
  font-size: 12px;
}

.input-file {
  display: none;
}
.error-message {
  color: red;
  font-size: 12px;
}
.alert-overlay {
  position: fixed;
  top: 75%; /* Ajusta a posição vertical para o meio da tela */
  left: 0px;
  right: 450px;
  text-align: center;
}

.alert-overlay {
display: flex;
  justify-content: center;
  align-items: center;
}




.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top:20px;
}
.custom-file-label:hover {
  background-color: #ff0000;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ff0000;
  margin: 0px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 12px;
  height: 50px;
  margin-bottom: 10px;
}
.qr-code-item:hover {
  background-color: #ff000011;
}

.qr-code-item button {
  background-color: #FF0000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  width: auto; 
  text-align: center;
  margin-right: 10px
}

.qr-code-data h3 {
  font-size: 12px;
  text-align: left;
}


.qr-code-item button:hover {
  background-color: #FF5555;
}


.qr-code-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 0px;

}

.input-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.input-container {
  text-align: center;
}
input[type="color"] {
  width: 100px; 
}



.color-button {
  text-align: center;
  margin-top: 10px;
}

.custom-input {
  flex: 1;
  padding: 10px 15px; 
  position: relative;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #f1f1f1;
}
.valid-key {
  color: green;
}
.invalid-key {
  color: red;
}
.input-container label {
  font-weight: bold;
  margin-bottom: 5px; 
}
.input-container input {
  flex: 1;
  padding: 17px;
  border: none;
  border-radius: 15px;
  text-align: left;
  background-color: rgb(242, 242, 242);
  position: relative; 
}
.qr-code-container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.custom-color-input {
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
  border-radius: 10px;
}

.color-options-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.color-options label {
  margin-right: 10px; 
}
.color-options input[type="color"] {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.color-options input[type="file"] {
  display: none;
  
}
.custom-file-label input[type="file"] {
  display: none; 
}

#logoImage {
  display: block;
  margin-top: 10px;
}



.color-button {
  background-color: transparent;
  color: red; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.qr-code-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-container.draggable {
  cursor: move;
  height: 400px;
  margin-top: 50px;
}
.app-title {
  font-size: 32px;
  color: #ff0000; 
  margin-bottom: 10px; 
  margin-left: 20px;
}

.app-subtitle {
  font-size: 18px; 
  color: #cdcaca; 
  margin-bottom: 50px; 
  margin-left: 20px;
  margin-top: 10px;
}
.app-header {
  font-size: 18px; 
  color: #cdcaca; 
  margin-bottom: 20px; 
  margin-left: 10px;
  margin-top: -10px;
}
.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px;
}


.small-qr-code {
  width: 100px; 
  height: 100px; 
}


.qr-code {
 
  width: 250px; 
  height: 80px; 
}

.side-container {
  flex: 1;
  margin-left: 40px;
  height: 470px;
  margin-right: -27px;
  background-color: red;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.custom-button {
  background-color: #FF0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.custom-button:first-child {
  margin-right: 4%; 
}

.custom-button:hover {
  background-color: #FF0000;
}



.history-item QRCode {
  display: block;
  margin-top: 0px;
}

.recipient-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin: 10px 0;
}

.recipient-select option[value=""] {
  text-align: center;
}

select option[value=""] {
  text-align: center;
}

.select-placeholder {
  text-align: center;
}
.select-recipient {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.select-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f1f1f1;
  transition: border-color 0.3s;
}
.select-container select:focus {
  border-color: #ff0000; 
}
.select-recipient option {
  text-align: center;
}

.custom-button:hover {
  background-color: #ff0000;
}
@media (max-width: 854px) {
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px 10px 10px; /* Define a margem apenas à direita para empurrar os elementos para a esquerda */
  }
  .toggle-button {
    background-color: transparent;
    color: #000000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  .toggle-button.active {
    background-color: #ef2d2d;
    border-color: white;
    color: #fff; 
  }
  .history-container {
    flex: 1;
    height: 600px; 
    overflow-y: auto;
  }
  .selected-history {
    background-color: green;
  }
  .logoImage {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  .input-row > * {
    margin: 0; /* Reduz a margem horizontal entre os elementos */
  }
  .color-options {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    align-items: center; 
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
  }
  
  
  

  .input-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 20px;
    width: 90px;
    height: 80px;
    margin-left: 5px;
  }
  .input-row .custom-input {
    width: calc(120% - 0px); 
  }

  
  .side-container {
    position: relative;
    margin-left: 10px;
    width: 95%;
    height: 80px;
    margin-top: 50px;
    right: 5px;
    border-radius: 10px;
    max-width: 400px; /* Delimite o final da página em 1000px */
  }
  
}
@media (min-width: 854px) {
  .toggle-button {
    background-color: transparent;
    color: #000000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  .toggle-button.active {
    background-color: #ff0000;
    color: #fff; 
  }
  .selected-history {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
  }
  .body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='350' preserveAspectRatio='none' viewBox='0 0 1600 350'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1437%26quot%3b)' fill='none'%3e%3crect width='1600' height='350' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c117 C 106.8%2c106.6 320.4%2c63 534%2c65 C 747.6%2c67 854.8%2c139.2 1068%2c127 C 1281.2%2c114.8 1493.6%2c28.6 1600%2c4L1600 350L0 350z' fill='rgba(117%2c 9%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c205 C 106.8%2c220.6 320.4%2c286.8 534%2c283 C 747.6%2c279.2 854.8%2c182.6 1068%2c186 C 1281.2%2c189.4 1493.6%2c277.2 1600%2c300L1600 350L0 350z' fill='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1437'%3e%3crect width='1600' height='350' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    margin: 0px;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative; /* Adicione esta linha para garantir que o plano de fundo fique fixo */
  }

  .history-container {
    flex: 1;
    height: 400px; 
    overflow-y: auto;
  }
  .color-options {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    align-items: center; 
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
  }
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-row .custom-input {
  width: calc(50% - 0px); 
}

.input-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 50px;
  width: 700px;
  height: 80px;
  margin-left: 20px;
  margin-right: -300px;
}

.main-container {
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 900px; 
  max-height: 1100px; 
  margin: 4%;
  margin-top: 3%;
  position: fixed;
}
.svg-bottom {
  position: absolute;
  bottom: 0;
  left: 110;
  width: 550%;
  z-index: -1; 
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px; 
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 20px;
  z-index: 10;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  display: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content-wrapper {
  text-align: center;
  font-size: 14px;
  
}
.custom-modal .close-button {
  background-color: #ff1100; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.custom-modal .close-button:hover {
  background-color: #d32f2f; 
}
.details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.details-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  overflow-y: auto;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.details-content button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  margin: 10px auto;
}
.details-content button:hover {
  background-color: #d32f2f; 
}

.details-content button::before {
  content: 'X';
  font-weight: bold;
  margin-right: 5px;
}

.qr-code-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 400px;
  position: fixed;
  top: 10%; 
  right: 4%; 
  height: 75%; 
  background-color: rgb(255, 255, 255); 
  overflow-y: auto; 
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.details-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  overflow-y: auto;
  text-align: left;
}

.details-content button {
  background-color: #FF0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  margin: 10px auto;
}
.qr-code-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.details-content button:hover {
  background-color: #FF5555;
}

.details-content button::before {
  content: 'X';
  font-weight: bold;
  margin-right: 5px;
}
.logoImage {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}
